.DEV, .DEV * {
    border: 1px solid yellow;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.animation-section {
    border-radius: 20px;
}

.animation-section:hover {
    background-color: #2a2a2a;
    color: whitesmoke;
}

.square {
    width: 70px;
    height: 70px;
    background: darkred;
    margin: 8px
}